<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - File Manager</title>
    <link href="~/Areas/FileManager/Assets/css/alertify.min.css" rel="stylesheet" />
    <link href="~/Areas/FileManager/Assets/css/theme-default.min.css" rel="stylesheet" />
    <link href="~/Areas/FileManager/Assets/css/style.min.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div id="main-wrapper">
        <div id="page-wrapper">
            @RenderBody()
        </div>
    </div>

    <script src="~/Areas/FileManager/Assets/js/jquery/jquery-3.3.1.js"></script>
    <script src="~/Areas/FileManager/Assets/js/popper.min.js"></script>
    <script src="~/Areas/FileManager/Assets/js/bootstrap/bootstrap.js"></script>
    <script src="~/Areas/FileManager/Assets/js/alertify.js"></script>
    <script src="~/Areas/FileManager/Assets/js/global.js"></script>
    @RenderSection("scripts", false)
</body>
</html>